/*_______FONTS______*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400|Maven+Pro:400,500');

/*_______FONTS______*/

/*_______GENERAL______*/
*{
	margin: 0;
	padding: 0;
}

html{
	font-size: 16px;
}
body{
	font-size: 0.875em;
	font-family: Lato, Arial, Calibri, sans-serif;
	background-color: #c5c6c7;
}
h1,h2,h3,h4,h5{
	font-family: Maven Pro, Calibri, Arial, sans-serif;
	font-weight: 400;
}
h2{
	font-size: 2em;
	margin-bottom: 20px;
	color: #1f2833; 
}
.clear-fix{
	display: block;
	content: "";
	visibility: hidden;
	overflow: hidden;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	clear: both;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}
.container-sm{
	max-width: 700px;
	margin: 0 auto;
	padding: 0 20px;	
}
.demo-btn, .code-btn{
	display: block;
	padding: 2 px;
	margin: 10px;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	font-family: Maven Pro, Calibri, Arial, sans-serif;
	font-size: 0.875em;
	padding: 8px 11px;
	border-radius: 10px;
	background-color: #e2f202;
	transition: background-color 0.2s ease, color 0.2s ease;
	-webkit-transition: background-color 0.2s ease, color 0.2s ease;
	-moz-transition: background-color 0.2s ease, color 0.2s ease;
}
.demo-btn:hover, .code-btn:hover{
	background-color: #000;
	color: #e2f202;	
}
.about, .skills, .recent-projects, .contact-me {
	padding-top: 100px;
}
.skills-list-bg,.recent-projects-list-bg{
	background-color: #1f2833;
}



