/*/*/*/*_______FONTS______*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400|Maven+Pro:400,500');
@import url('https://fonts.googleapis.com/css?family=Aldrich');
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);


/*_______GENERAL______*/


html {
	margin: 0;
	padding: 0;
    font-size: 16px;
}

body{
	margin: 0;
	padding: 0;
	font-size: 0.875em;
	font-family: Lato, Arial, Calibri, sans-serif;
	background-color: #c5c6c7;
}
h1, h2, h3, h4, h5{
	font-family: Maven Pro, Calibri, Arial, sans-serif;
	font-weight: 400;
}
h2{
	font-size: 2em;
	margin-bottom: 20px;
	color: #1f2833; 
}

p{
	line-height: 1.7em;
}
.clear-fix:after{
	display: block;
	content: "";
	visibility: hidden;
	overflow: hidden;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	clear: both;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}
.container-sm{
	max-width: 700px;
	margin: 0 auto;
	padding: 0 20px;	
}

.demo-btn, .code-btn, .button{
	display: inline-block;
	padding: 2 px;
	margin: 10px;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	font-family: Maven Pro, Calibri, Arial, sans-serif;
	font-weight: bolder;
	font-size: 0.875em;
	padding: 8px 11px;
	border-radius: 10px;
	/*background-color: #e2f202;*/
	background-color:#02f2c3;
	transition: background-color 0.2s ease, color 0.2s ease;
	-webkit-transition: background-color 0.2s ease, color 0.2s ease;
	-moz-transition: background-color 0.2s ease, color 0.2s ease;
}
.demo-btn:hover, .code-btn:hover, .button:hover{
	background-color: #000;
	color: #e2f202;	
}
.about, .skills, .recent-projects, .contact-me {
	padding-top: 100px;
}
.skills-list-bg,.recent-projects-list-bg{
	background-color: #1f2833;
}

/*_______NAV______*/
nav{
	opacity: 0;
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(11, 12, 16, 0.6);
	text-align: center;
	transition: transform 0.4s ease;
	-webkit-transition: -webkit-transform 0.4s ease;
	-moz-transition: -moz-transform 0.4s ease;
	padding: 15px 0;
}
nav.hidden{
	transform: translate3d(0,-100%, 0);
	-moz-transform: translate3d(0,-100%, 0);
	-webkit-transform: translate3d(0,-100%, 0);
}
nav ul li{
	display: inline-block;
	margin-right: 15px;
}
nav ul li:last-chlid{
	margin-right: 0;
}
nav ul li a{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.875em;
	color: #fff;
	font-family: Maven Pro, Calibri, Arial, sans-serif;

}

/*_______INTRO SECTION______*/

.intro{
	background: #0b0c10 url('../img/intro-bg-act.jpg') no-repeat;
/*	background: url('../img/coding2.png') no-repeat;*/
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 50%;
	padding-top: 150px;
	padding-bottom: 120px;
	text-align: center;
}
.intro-headings{
	display: inline-block;
	text-align: left;
	margin-bottom: 100px;
}
.intro-headings h1{
	font-size: 1.9em;
	color: #fff;
	text-transform: uppercase;
	font-weight: 400;
}
.intro-headings h4{
	/*color: #aeaeae;*/
	color: #848485;
	text-transform: uppercase;
	font-family: Lato, Arial, Calibri, sans-serif;
	font-weight: 300;
	font-size: 0.8em;
	letter-spacing: 0.2em;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
}
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}
section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font : normal 300 64px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
}

.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

#section06 {
	opacity:0;
}
#section06 a span {

  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  -webkit-animation: sdb06 1.5s infinite;
  animation: sdb06 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb06 {
  0% {
    -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb06 {
  0% {
    transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.fa-inverse{
	opacity : 0.6;
}
.fa-stack{
	margin-top: -20px;
	font-size: 0.8em;
}
.fa-stack-2x{
	opacity: 0.1;
}
.fa-circle-o{
	color: #848485;
	background-color: #848485;
}
.social-list-head{
	list-style: none;
}
.social-head{
	padding: 0;
	margin: 5px 0 0 -5px;

}
.social-head li {
	display: inline-block;
	opacity: 0;
}
.social-head span{
	margin-right:0;
	transition: background-color 0.4s ease;
	-webkit-transition: background-color 0.4s ease;
	-moz-transition: background-color 0.4s ease;
}

.fa-inverse:hover{
	color: #000;
	transition: background-color 0.4s ease;
	-webkit-transition: background-color 0.4s ease;
	-moz-transition: background-color 0.4s ease;
}

.social-head span:hover{
	background-color: #fff;
}
/*_______ABOUT SECTION______*/

.about{
	background-color: #0b0c10;
	padding-bottom: 70px;
}
.about h2{
	color: #66fcf1;
}

.about p{
	font-family: Maven Pro, Calibri, Arial, sans-serif;
	color: #e0e0e0;
}
.uf{
	color: #0021A4;
	background-color: #FA4616;
	font-weight: bolder;
}
.programming-abt{
	font-family: 'Aldrich', sans-serif;
	color: gray;
}

/*_______SKILLS SECTION______*/
.skills-list{
	list-style: none;
	text-align: center;
}
.skill{
	padding: 50px 0;
	max-width: 250px;
	margin: 0 auto;
}

.skill h5{
	font-size: 1.2em;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.skill p{
	color: #6e6e6e;
	font-size: 0.875em;
}


/*_______RECENT PROJECTS______*/

.recent-projects-list{
	list-style: none;	
}
}
.recent-projects .container{
	padding : 0;
}
.project-visible-content{
	box-sizing: border-box;
	height: 310px;
	padding-top: 20px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

.project.chrome .project-visible-content{
	background-image: url('../img/extension.jpg');
}
.project.color-game .project-visible-content{
	background-image: url('../img/color-game.jpg');
}
.project.patatap .project-visible-content{
	background-image: url('../img/patatap.jpg');
}
.project-visible-content h3{
	font-size: 1.4em;
	color: #fff;
	margin-bottom: 10px;
	text-align: left;
}
.project-visible-content blockquote{
	color: #fff;
	font-weight: 300;
	text-align: left;
}
.code-demo{
	margin: 20px 0 20px 0;
}

/*______CONTACT ME SECTION_______*/

.contact-me-bg{
	background: #000 url('../img/contact-me.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	padding-top: 100px;
}
.contact-list{
	list-style: none;	
}
.contact-list li{
	text-align:center;
	margin-bottom: 50px;
}
.contact-list li .fa, .contact-list li h6{
	display: inline-block;
	vertical-align: middle;
}
.contact-list li .fa{
	font-size: 40px;
	color: #6e6e6e;
}
.contact-list li h6{
	font-size: 1.25em;
	color: #45a29e;	
	font-weight: 400;
	margin-left: 5px;
}
.contact-list li p{
	color: #fff;
	margin-top: 25px;
}

/*GOOGLE FORM*/

#mG61Hd{
	margin-bottom: 60px;
}

#mG61Hd .quantumWizTextinputPaperinputInput, #mG61Hd .quantumWizTextinputPapertextareaInput{
	display: block;
	box-sizing: border-box;
	width: 100%;
	border:none;
	border-bottom: 5px solid #66fcf1;
	font-size: 1.125em;
	outline: none;
	font-family: Lato, Arial, Calibri, sans-serif;
	background-color: rgba(69, 162, 158, 0.4);
	margin-bottom: 40px;
}
#mG61Hd .quantumWizTextinputPaperinputInput{
	padding: 15px 40px;
}
#mG61Hd .quantumWizTextinputPapertextareaInput{
	padding: 15px 40px 110px 40px;
}
#mG61Hd .button{
	border: none;
	outline: none;
	cursor: pointer;
}

footer{
	padding-bottom: 40px;
}
footer p{
	color: #aeaeae;
}
footer .social-btn-list{
	list-style: none;
	width: 166px;
	margin: 0 auto 30px auto;
}
footer .social-btn-list li{
	float: left;
	margin-right: 20px;
}
footer .social-btn-list li:last-child{
	margin-right: 0;
}

footer .social-btn-list li a{
	display: block;
	width: 42px;
	height: 42px;
	line-height: 42px;
	border-radius: 14px;
	background-color: #c5c6c7;
	text-align: center;
	transition: background-color 0.2s ease;
	-webkit-transition: background-color 0.2s ease;		
	-moz-transition: background-color 0.2s ease;
}
footer .social-btn-list .twitter{
	color: #00b6f1;
}
footer .social-btn-list .instagram{
	color: #c32aa3;
}
footer .social-btn-list .facebook{
	color: #3b5998;
}
footer .social-btn-list li a:hover{
	background-color: #000;
}

/*______MEDIA QUERY______*/
@media only screen and (min-width: 600px){

	html,body{
	margin: 0;
	padding: 0;
	}
	body{
		font-size: 1em;
	}
	h2{
		font-size: 2.2em;
	}
	nav ul li{
		margin-right: 60px;
	}
	nav ul li:last-child{
		margin-right: 0;
	}
	.intro-headings h1{
	font-size: 3em;
	}
	.intro-headings h4{
	font-size: 1.1em;
	letter-spacing: 0.3em;
	}
	.intro .continue-btn{
		background-size: 54px 30px;
		padding-bottom: 45px;
	}

	.fa-stack{
		font-size: 1em; 
	}
}

@media only screen and (min-width: 790px){
    html,body{
	margin: 0;
	padding: 0;
	}

	.fa-stack{
		font-size: 1.33333333em;
	}

	.skill{
		max-width: none;
		width: 30%;
		margin-right: 5%;
		float: left;
		padding: 100px 0;
	}
	.skill:last-child{
		margin-right: 0;
	}
	.skills-list:after, .contact-list:after{
	display: block;
	content: "";
	visibility: hidden;
	overflow: hidden;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	clear: both;
	}
	.project-visible-content{
		padding-top: 50px;
	}
	.contact-list{
		margin-bottom: 100px;
	}
	.contact-list li{
		box-sizing: border-box;
		width: 33.333333%;
		padding :0 20px;
		float: left;
	}
	footer .social-btn-list{
		float: right;
		margin: 0;
	}
	footer p{
		float: left;
		padding-top: 7px;
	}
	footer:after{
	display: block;
	content: "";
	visibility: hidden;
	overflow: hidden;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	clear: both;
	}
}

@media only screen and (min-width: 920px){
	html,body{
	margin: 0;
	padding: 0;
    }
	
	.intro{
	background: #0b0c10 url('../img/intro-bg-vHigh2.jpg') no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 50%;
	padding-top: 150px;
	padding-bottom: 120px;
	text-align: center;
    }
	h2{
		font-size: 3.75em;
	}
	.container, .container-sm{
		padding: 0;
	}
	.intro{
		padding-top: 230px;
	}
	.intro-headings{
		margin-bottom: 200px;
	}
	.intro-headings h1{
		font-size: 5em;
	}
	.intro-headings h4{
		font-size: 1.5em;
		letter-spacing: 0.5em;
	}
	.skill{
		box-sizing: border-box;
		width: 33.33%;
		height: 400px;
		margin-right: 0;
		padding: 100px 6%;
		position: relative;	
	}

	.skill.front-end{
		background: #000 url('../img/creativity.jpg') no-repeat;
		background-position: 50% 50%;
	}
	.skill.back-end{
		background: #000 url('../img/critical.jpg') no-repeat;
		background-position: 50% 50%;
	}
	.skill.gen-prog{
		background: #000 url('../img/resiliance.jpg') no-repeat;
		background-position: 50% 50%;
	}
	.skill h5{
		font-size: 1.358em;
		color: #fff;
	}
	.skill p{
		color: #aeaeae;
		opacity: 0;
		transform: translate3d(0,-100px,0);
		-webkit-transform: translate3d(0,-100px,0);
		-moz-transform: translate3d(0,-100px,0);
		transition: all 0.5s ease;
	}
	.skill .skill-divider{
		display: block;
		position: absolute;
		bottom: 80px;
		left: 50%;
		width: 200px;
		margin-left: -100px;
		height: 3px;
		border-radius:2px;
		/*background-color: #45a29e;*/
		background-color: #66fcf1;
		transform: translate3d(0,-120px,0);
		-webkit-transform: translate3d(0,-120px,0);
		-moz-transform: translate3d(0,-120px,0);
		transition: all 0.3s ease;
	}
	.skill .skill-divider:before{
		display: block;
		content: "";
		position: absolute;
		width: 7px;
		height: 7px;
		top:-2px;
		left: 50%;
		margin-left: -2px;
		border-radius: 4px;
		background-color: #66fcf1; 
	}
	.skill:hover{
		cursor: pointer;
	}
	.skill:hover p{
		cursor:default;
		opacity: 1;
		transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		 background-color: rgba(11, 12, 16, 0.8);
	}
	.skill:hover .skill-divider{
		transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
	}
	.project-visible-content{
		text-align: left;
	}
	.project-visible-content h3{
		font-size: 2.25em;
	}
	.project-visible-content blockquote{
		width: 65%;
		float: left;
	}
	.project-visible-content .code-demo{
		float: right;
		text-align: right;
	}
	#mG61Hd{
		width: 780px;
		margin: 0 auto 60px auto;
	}
	#mG61Hd .name-input-wrap.freebirdFormviewerViewItemsTextItemWrapper{
		float:left;
		margin-right: 120px;
	}
	#mG61Hd .quantumWizTextinputPaperinputInput{
		width: 330px;
		margin-bottom: 40px;
	}
	#mG61Hd .message-input-wrap.freebirdFormviewerViewItemsTextItemWrapper{
		clear:left;
		margin: 0 auto 40px auto;
	}
	#mG61Hd .quantumWizTextinputPapertextareaInput{
		width: 780px;
	}

}

@media only screen and (min-width: 1105px){

	html,body{
	margin: 0;
	padding: 0;
}/*NOTHING TO ADD*/
}

/*CLOCK ANIMATION*/

#preloader{
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	background :#000;
}
.section {
                height: 800px;
                margin-bottom: 500px;
                background-color: #000;
                overflow: hidden;
                font-family: 'Titillium Web', Calibri, sans-serif;
            }
            h1.clock-heading {
                color: #fff;
                text-align: center;
                font-weight: 100;
                font-size: 60px;
                margin-top: 100px;
                opacity: 1;
                transform: translate3d(0, 0, 0);
                animation: clockHeadingAnimation 10s ease;
            }
            .clock-wrapper {
                position: relative;
                width: 400px;
                height: 400px;
                margin: 100px auto 0 auto;
                transform: scale(1.4) translate3d(0, 100px, 0);
                animation: clockAnimation 10s ease;
            }
            .clock-wrapper .clock-img {
                position: absolute;
                width: 100%;
                height: auto;
            }
            
            .clock-wrapper .clock-img.hours {
                transform: rotate(120deg);
                animation: hoursAnimation 10s ease;
            }
            @keyframes hoursAnimation {
                0% { transform: rotate(0); }
                100% { transform: rotate(120deg); }
            }
            .clock-wrapper .clock-img.minutes {
                transform: rotate(1470deg);
                animation: minutesAnimation 10s ease;
            }
            @keyframes minutesAnimation {
                0% { transform: rotate(30deg); }
                100% { transform: rotate(1470deg); }
            }
            .clock-wrapper .clock-img.seconds {
                transform: rotate(26610deg);
                animation: secondsAnimation 10s ease;
            }
            @keyframes secondsAnimation {
                0% { transform: rotate(210deg); }
                100% { transform: rotate(26610deg); }
            }
            
            @keyframes clockAnimation {
                0% { transform: scale(1) translate3d(0, 0, 0); }
                100% { transform: scale(1.4) translate3d(0, 100px, 0); }
            }
            @keyframes clockHeadingAnimation {
                0% { opacity: 0; transform: translate3d(0, 100px, 0); }
                90% { opacity: 0; transform: translate3d(0, 100px, 0); }
                100% { opacity: 1; transform: translate3d(0, 0, 0); }
            }